
.NewMessageBox {
    width: 80%;
    height: 100px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #A6A2DC;
    text-align: left;
}

.NewMessageBox > textarea {
    height: 100%;
    width: 100%;
    border-style: none;
    font-size: 14px;
}